/* ==============================
|   - TABLE OF CONTENTS -
=================================
|   
|   MIXINS
|
|   1.0 - Grid Framework
|       1.1 - Make grid columns
|       1.2 - Float grid columns
|       1.3 - Calculate grid columns
|       1.4 - Loop grid columns
|       1.5 - Make grids
|   2.0 - Grid System
|       2.1 - Center containers
|       2.2 - Create column wrappers
|       2.3 - Generate extra small columns (xs)
|           2.3.1 - Set xs offset
|           2.3.2 - Set xs push
|           2.3.3 - Set xs pull
|       2.4 - Generate small columns (sm)
|           2.4.1 - Set sm offset
|           2.4.2 - Set sm push
|           2.4.3 - Set sm pull
|       2.5 - Generate medium columns (md)
|           2.5.1 - Set md offset
|           2.5.2 - Set md push
|           2.5.3 - Set md pull
|       2.6 - Generate large columns (lg)
|           2.6.1 - Set lg offset
|           2.6.2 - Set lg push
|           2.6.3 - Set lg pull
|   3.0 - Clearfix
|   4.0 - Center Block
|   5.0 - Gradients
|       5.1 - Backgrounds
|       5.2 - Gradients
|   6.0 - KeyFrames Aminations
|       6.1 - Animations Generator
|   7.0 - Triangles
|
====================================
|  END Table of Contents
==================================== */


/* ========================= */
/* | 1.0 - GRID FRAMEWORK == */
/* ========================= */

/* === 1.1 - Make Grid Columns ===*/

@mixin make-grid-columns($i: 1, $list: ".gCol-xs-#{$i}, .gCol-sm-#{$i}, .gCol-md-#{$i}, .gCol-lg-#{$i}"){
    @for $i from (1 + 1) through $grid-columns {
        $list: "#{$list}, .gCol-xs-#{$i}, .gCol-sm-#{$i}, .gCol-md-#{$i}, .gCol-lg-#{$i}";
    }
    #{$list} {
        position: relative;
        min-height: 1px; //prevent collapse when empty
        padding-left: ceil(($grid-pipe-width / 2));
        padding-right: floor(($grid-pipe-width / 2));
    }
}

/* === 1.2 - Float Grid Columns ===*/

@mixin float-grid-columns($class, $i:1, $list: ".gCol-#{$class}-#{$i}"){
    @for $i from (1 + 1) through $grid-columns{
        $list: "#{$list}, .gCol-#{$class}-#{$i}";
    }
    #{$list} {
        float: left;
    }
}

/* === 1.3 - Calculate Grid Columns ===*/

@mixin calc-grid-column($index, $class, $type) {
    
    @if($type == width) and ($index > 0) {
        .gCol-#{$class}-#{$index} {
            width: percentage(($index / $grid-columns));
        }
    }
    
    @if($type == push) and ($index > 0) {
        .gCol-#{$class}-#{$index} {
            left: percentage(($index / $grid-columns));    
        }    
    }
    
    @if($type == push) and ($index == 0) {
        .gCol-#{$class}-#{$index} {
            left:auto;
        }    
    }

    @if($type == pull) and ($index > 0) {
        .gCol-#{$class}-#{$index} {
            right: percentage(($index / $grid-columns));
        }    
    }
    
    @if($type == pull) and ($index == 0) {
        .gCol-#{$class}-#{$index} {
            right:auto;
        }
    }
    
    @if($type == offset) {
        .gCol-#{$class}-offset-#{$index}{
            margin-left: percentage(($index / $grid-columns));
        }
    }

}

/* === 1.4 - Loop Grid Columns ===*/

@mixin loop-grid-columns($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-column($i, $class, $type);
    }
}

/* === 1.5 - Make Grid ===*/

@mixin make-grid($class){
    
    @include float-grid-columns($class);
    
    @include loop-grid-columns($grid-columns, $class, width);
    
    @include loop-grid-columns($grid-columns, $class, pull);
    
    @include loop-grid-columns($grid-columns, $class, push);
    
    @include loop-grid-columns($grid-columns, $class, offset);
    
}

/* ====================== */
/* | 2.0 - GRID SYSTEM == */
/* ====================== */

/* === 2.1 - Center containers === */
@mixin container-fixed($pipe: $grid-pipe-width){
    margin-right: auto;
    margin-left:auto;
    padding-left: floor(($pipe / 2));
    padding-right: ceil(($pipe / 2));
    @include clearfix;
}

/* === 2.2 - Create wrapper for columns === */
@mixin make-row($pipe: $grid-pipe-width){
    margin-left: ceil(($pipe / -2));
    margin-right: floor(($pipe / -2));
    @include clearfix;
}

/* === 2.3 Create extra small columns === */
@mixin make-xs-column($columns, $pipe: $grid-pipe-width) {
    position:relative;
    float: left;
    width: percentage(($columns / $grid-columns));
    min-height: 1px;
    padding-left: ($pipe / 2);
    padding-right: ($pipe / 2);
}

/* === 2.3.1 Set xs column offset === */
@mixin make-xs-column-offset($columns) {
    margin-left: percentage(($columns / $grid-columns));
}

/* === 2.3.2 Set xs column push === */
@mixin make-xs-column-push($column){
    left: percentage(($columns / $grid-columns));
}
/* === 2.3.3 Set xs column pull === */
@mixin make-xs-column-pull($column) {
    right: percentage(($columns / $grid-columns));
}

/* === 2.4 Generate small columns === */
@mixin make-sm-column($columns, $pipe: $grid-pipe-width){
    position:relative;
    min-height: 1px;
    padding-left: ($pipe / 2);
    padding-right: ($pipe / 2);
    
    @media (min-width: $screen-sm-min) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

/* === 2.4.1 Set sm column offset === */
@mixin make-sm-column-offset($columns){
    @media (min-width: $screen-sm-min){
        margin-left: percentage(($columns / $grid-columns));
    }
}

/* === 2.4.2 Set sm column push === */
@mixin make-sm-column-push($columns){
    @media (min-width: $screen-sm-min){
        left: percentage(($columns / $grid-columns));
    }
}

/* === 2.4.3 Set sm columns pull === */
@mixin make-sm-column-pull($columns){
    @media (min-width: $screen-sm-width){
        right: percentage(($columns / $grid-columns));
    }
}

/* === 2.5 Generate medium columns === */
@mixin make-md-column($columns, $pipe: $grid-columns){
    position:relative;
    min-height: 1px;
    padding-left: ($guttter / 2);
    padding-right: ($pipe / 2);
    @media (min-width: $screen-md-min){
        float:left;
        width: percentage(($columns / $grid-columns))
    }
}

/* === 2.5.1 Set md columns offset === */
@mixin make-md-column-offset($columns){
    @media (min-width: $screen-md-min){
        margin-left: percentage(($columns / $grid-columns));
    }
}

/* === 2.5.2 Set md columns push === */
@mixin make-md-column-push($columns){
    @media(min-width: $screen-md-min){
        left: percentage(($columns / $grid-columns));
    }
}

/* === 2.5.3 Set md columns pull === */
@mixin make-md-column-pull($columns){
    @media (min-width: $screen-md-min){
        right: percentage(($columns / $grid-columns));
    }
}

/* === 2.6 Generate large columns === */
@mixin make-lg-column($columns, $pipe: $grid-columns){
    position:relative;
    min-height: 1px;
    padding-left: ($pipe / 2);
    padding-right: ($pipe / 2);
    @media (min-width: $screen-lg-min){
        float:left;
        width: percentage(($columns / $grid-columns))
    }
}

/* === 2.6.1 Set lg columns offset === */
@mixin make-lg-column-offset($columns){
    @media (min-width: $screen-lg-min){
        margin-left: percentage(($columns / $grid-columns));
    }
}

/* === 2.6.2 Set lg columns push === */
@mixin make-lg-column-push($columns){
    @media (min-width: $screen-lg-min){
        left: percentage(($columns / $grid-columns));
    }
}

/*=== 2.6.3 Set lg columns pull === */
@mixin make-lg-columns-pull($columns){
    @media (min-width: $screen-lg-min){
        right: percentage(($columns / $grid-columns));
    }
}



/* ==================== */
/* | 3.0 - ClearFix === */
/* ==================== */

@mixin clearfix(){
    &:before,
    &:after {
        content: " ";
        display:table;
    }
    &:after{
        clear:both
    }
}

/* ======================= */
/* | 4.0 - Center Block == */
/* ======================= */

@mixin center-block(){
    display:block;
    margin-left: auto;
    margin-right:auto;
}

/* ================================== */
/* | 5.0 - Gradients & Backgrounds == */
/* ================================== */


/* ============================= */
/* | 5.1 - BackgroundGradient == */
/* ============================= */

@mixin bgGradient($color1, $color2) {
  background:
    $color1
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $color2 50%,
      $color2 100%
    );
}

/* ==================== */
/* | 5.2 - Gradient == */
/* ==================== */

@mixin gradient($color1, $color2)
{
    
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(top,  $color1 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $color1 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $color1 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}



/* ========================= */
/* | 5.1 - Transparencies == */
/* ========================= */


@mixin transparent($color, $background){
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    background-color: $solid-color;
    background-color: $color;
}


/* ================================ */
/* |   6.0 Keyframes Animations === */
/* ================================ */


@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}


/* ============================ */
/* | 6.1 Animation Generator == */
/* ============================ */

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

/* ==================== */
/* |   7.0 Triangles == */
/* ==================== */


@mixin triangle($size, $triangle_top, $triangle_bottom, $triangle_left, $triangle_right , $bottomColor){
    
    $topColor: $globalBlue-mid;
    $bottomColor: $globalBlue-mid;
    
    @if($size == 'dbl')
    {
        &:after{
            width: 0;
            height: 0;
            position:absolute;
            left:0%;
            margin-top:-$triangle_bottom;
            border-style: solid;
            border-width: 150px 0 0 $triangle_bottom;
            border-color: $transparent $bottomColor $transparent $bottomColor;
            line-height: 0px;
            _border-color: $transparent $bottomColor $transparent $bottomColor;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
        &:before{
            width: 0;
            height: 0;
            position:absolute;
            right:0%;
            border-style: solid;
            border-width: $triangle_top $triangle_right $triangle_bottom $triangle_left;
            border-color: $transparent $topColor $transparent $transparent;
            line-height: 0px;
            _border-color: $transparent $topColor $transparent $transparent;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    }
    
    @if($size == 'single'){
        &:after{
            width: 0;
            height: 0;
            position:absolute;
            left:0%;
            margin-top:-$triangle_top;
            border-style: solid;
            border-width: $triangle_top 0 0 $triangle_bottom;
            border-color: transparent $bottomColor transparent $bottomColor;
            line-height: 0px;
            _border-color: $transparent $bottomColor $transparent $bottomColor;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
        &:before{
            width: 0;
            height: 0;
            position:absolute;
            right:0%;
            border-style: solid;
            border-width: $triangle_top $triangle_right $triangle_bottom $triangle_left;
            border-color: $transparent $topColor $transparent $transparent;
            line-height: 0px;
            _border-color: $transparent $topColor $transparent $transparent;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
        
    }
    
    
}