/* ======================
|   - TABLE OF CONTENTS -
|========================
|   
|   VARIABLES
| 
|   1.0 - Branding
|       1.1 - Colors
|       1.2 - Font Family
|
|   2.0 - Layout
|       2.1 - Breakpoints
|       2.2 - Grids
|       2.3 - Container Sizes
|
|   3.0 - Elements
|       3.1 - Mouse Scroller
|
|=================================
|===============================*/


/*====================
|   1.0 BRANDING
====================*/

/* ===================*/
/* === 1.1 Colors === */
/* ===================*/

//Full White
$white :#fff;
//Soft White
$softWhite:#dbd9d9;

//Transparent
$transparent: rgba(255, 255, 255, 0);
//Light Transparent
$lightTransparent: rgba(255, 255, 255, 0.1);
//Dark Transparent
$darkTransparent: rgba(0, 0, 0, 0.1);
$darkTransparent-md: rgba(0,0,0,0.5);

//Bright Navy Blue #081f75
$brightNavy:rgba(8, 31, 117, 1);
$brightNavy-mid:rgba(8, 31, 117, 0.75);

//Indigo Blue #003ecb
$indigo:rgba(0, 62, 203, 1);

//Global Blue #0068ff
$globalBlue:rgba(0, 104, 255, 1);
$globalBlue-mid: rgba(0, 104, 255, 0.85);
//Bright Sunrise Yellow #fff100
$brightSunrise:rgba(255, 241, 0, 1);


//Full Black
$black:#000;
//Deep Charcoal
$deepCharcoal:#2b2b2b;
//LightGray
$lightGray:#494949;

/*** Alerts ***/

//Success Green
$success :#61d835;

//Warning Orange/Yelow
$warning :#ffb000;

//Danger Red / Magenta
$alert :#f7345e;

/* ========================*/
/* === 1.2 Font Family === */
/* ========================*/

$pathToFonts: './app/assets/fonts/';

/*** CANARO ***/

//Regular
$canaroRegular: 'Canaro Regular';

//Light
$canaroLight: 'Canaro Light';

//Book
$canaroBook: 'Canaro Book';

//Semibold
$canaroSemiBold: 'Canaro SemiBold';

//Bold
$canaroBold:'Canaro Bold';

/*** GEOGROTESQUE ***/

//Regular
$geoGrotesqueRegular:'GeoGrotesque Regular';
//SemiBold
$geoGrotesqueSemiBold:'GeoGrotesque SemiBold';


/*====================
|   2.0 LAYOUT
====================*/

/* =======================*/
/* === 2.1 BreakPoints ===*/
/* =======================*/


/* === 2.1.1 Minimum === */

//Extra Small screens
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-mobile: $screen-xs-min;

//Small screens
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

//Medium Screens
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

//Large Screens
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;


/* === 2.1.2 Maximum === */

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);


/* ==================*/
/* === 2.2 Grids === */
/* ==================*/

//Number of columns
$grid-columns: 12;

//Maximun width of grid
$grid-max-width: 100%;

//Grid pipe width
$grid-pipe-width: 30px;

//Grid collapse at
$grid-float-breakpoint: $screen-sm-min;

//Grid max breakpoint
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1); 


/* ============================*/
/* === 2.3 Container Sizes === */
/* ============================*/

//Small screens
$gContainer-tablet: (720px + $grid-pipe-width);

//Small screens and up
$gContainer-sm: $gContainer-tablet;

//Medium screens
$gContainer-desktop: (940px + $grid-pipe-width);

//Medium screens and up
$gContainer-md: $gContainer-desktop;

//Large Screens
$gContainer-large-desktop: (1140px + $grid-pipe-width);
    
//Large screens and up
$gContainer-lg: $gContainer-large-desktop;



/*====================
|   3.1 MOUSE SCROLLER
====================*/

//Mouse background
$colorBg: #222a30;

//Outline color
$colorOutline: #ffffff;

//Outline fade color
$colorOutlineFade: #4e5559;

//Mouse Width
$widthMouse: 52px;

//Mouse Height
$heightMouse: 88px;

//Outline width
$borderMouse: 6px;

//Mouse position
$posMouse: 8px;

//Track Ball size
$sizeTrackball: 10px;

//Track Ball position
$posTrackball: 20px;

//Track ball srhink animation
$shrinkTrackball: 0.4;

//Animation duration
$animDuration: 5s;




/*====================
|   3.2 CORNER TRIANGLES
====================*/

$triangle_color: $globalBlue !default;

//Default Triangle
$triangle_top: 150px !default;
$triangle_right: 150px !default;
$triangle_bottom: 150px !default;
$triangle_left: 150px !default;


//Medium Triangle
$triangle_md_top: 0 ;
$triangle_md_right: 450px ;
$triangle_md_bottom: 150px ;
$triangle_md_left: 0;


//Small Triangle
$triangle_sm_top: 0 ;
$triangle_sm_right: 250px ;
$triangle_sm_bottom: 110px ;
$triangle_sm_left: 0;

//Large Triangle
$triangle_lg_top: 0 ;
$triangle_lg_right: 750px ;
$triangle_lg_bottom: 470px ;
$triangle_lg_left: 0;